In [1]:
lst = [1,2,3,4,5,5]

In [2]:
len(lst)

6

In [3]:
type(lst)

list

In [4]:
sum(lst)

20

In [5]:
min(lst)

1

In [6]:
max(lst)

5

In [7]:
lst.append(10)

In [8]:
lst

[1, 2, 3, 4, 5, 5, 10]

In [9]:
lst.remove(10)

In [10]:
lst

[1, 2, 3, 4, 5, 5]

In [14]:
# lst.remove(10)

In [16]:
# tuple 
t = (1,2,3,4,5,6,6)
print(len(t))
print(type(t))

7
<class 'tuple'>

In [17]:
# immutable  غير قابلة للتعديل  variable , tuple 
# mutable قابلة للتعديل  list , set , dict

In [19]:
lst[0] = 10

In [20]:
lst

[10, 2, 3, 4, 5, 5]

In [23]:
# t[0] = 10  # TypeError: 'tuple' object does not support item assignment

In [24]:
t_lst = list(t)

In [25]:
t_lst

[1, 2, 3, 4, 5, 6, 6]

In [27]:
t_lst[0] = 10

In [28]:
t_lst

[10, 2, 3, 4, 5, 6, 6]

In [29]:
t = tuple(t_lst)

In [30]:
t

(10, 2, 3, 4, 5, 6, 6)

In [33]:
# set 
s = {1,2,3,4,5,5}

In [34]:
s

{1, 2, 3, 4, 5}

In [36]:
# s[0]   # TypeError: 'set' object is not subscriptable

In [41]:
s.update((6,7))   # == lst.extend((6,7,8))

In [42]:
s

{1, 2, 3, 4, 5, 6, 7}

In [44]:
# dict
# d = { "key":"value" }
d = {"name" : "ahmed" , "age" : 30 , "address": 123}

In [45]:
d["name"]

'ahmed'

In [46]:
d["age"]

30

In [47]:
d["address"] = 345

In [48]:
d

{'name': 'ahmed', 'age': 30, 'address': 345}

In [49]:
d.get("name")

'ahmed'

In [50]:
d.keys()

dict_keys(['name', 'age', 'address'])

In [51]:
d.values()

dict_values(['ahmed', 30, 345])

In [52]:
d

{'name': 'ahmed', 'age': 30, 'address': 345}

In [53]:
d["grade"] = 90

In [54]:
d

{'name': 'ahmed', 'age': 30, 'address': 345, 'grade': 90}

In [55]:
d.update({"gender": "male"})

In [56]:
d

{'name': 'ahmed', 'age': 30, 'address': 345, 'grade': 90, 'gender': 'male'}

In [63]:
d.update([("key" , "value")])

In [64]:
# dict([("key" , "value") , ("key2" , "value2") , ("key3" , "123")])

In [65]:
d

{'name': 'ahmed',
 'age': 30,
 'address': 345,
 'grade': 90,
 'gender': 'male',
 'key': 'value'}

In [66]:
d.items()

dict_items([('name', 'ahmed'), ('age', 30), ('address', 345), ('grade', 90), ('gender', 'male'), ('key', 'value')])

In [67]:
# for i in   seq :
#     statements
#     >>>>>>>>>>
#     >>>>>>>>>

In [69]:
# print("Amit")
# print("Amit")
# print("Amit")
# print("Amit")
# print("Amit")

In [78]:
# range(start=0 , stop , step = 1)
for i in range(5):   #0 >>>>> 4     i = 0 >> print("amit") ,i = 1 >>print("amit") , ...i = 4 >> print("amit")
    print(i , "amit")
    print("*" * 10)

0 amit
**********
1 amit
**********
2 amit
**********
3 amit
**********
4 amit
**********

In [74]:
lst = [10,15,20,25,30]
lst * 2

[10, 15, 20, 25, 30, 10, 15, 20, 25, 30]

In [85]:
lst2 = []
for i in lst :  # i = 10 print(i) , i = 15 print(i) , ..... i = 30 print(i)
    print(i * 2 )
    lst2.append( i * 2 )
print(lst2)

20
30
40
50
60
[20, 30, 40, 50, 60]

In [86]:
# lst2

In [87]:
# num = []
# for i in range(5):
# int(input("Enter your num: "))    5

In [90]:
# num = []
# a = int(input("Enter your num: "))
# num.append(a)
# b = int(input("Enter your num: "))
# num.append(b)
# c = int(input("Enter your num: "))
# num.append(c)
# d = int(input("Enter your num: "))
# num.append(d)
# e = int(input("Enter your num: "))
# num.append(e)

In [91]:
# num

In [95]:
num = []
for i in range(5):
    a = int(input("Enter your num: "))
    num.append(a)

Enter your num: 12
Enter your num: 12
Enter your num: 12
Enter your num: 12
Enter your num: 12

In [97]:
num

[12, 12, 12, 12, 12]

In [98]:
x = int(input("Enter len of your lst: "))
num = []
for i in range(x):
    a = int(input("Enter your num: "))
    num.append(a)

Enter len of your lst: 3
Enter your num: 12
Enter your num: 13
Enter your num: 14

In [99]:
num

[12, 13, 14]

In [101]:
d = {'name': 'ahmed', 'age': 30, 'address': 345, 'grade': 90, 'gender': 'male'}

In [102]:
d.keys()

dict_keys(['name', 'age', 'address', 'grade', 'gender'])

In [103]:
d.values()

dict_values(['ahmed', 30, 345, 90, 'male'])

In [104]:
d.items()

dict_items([('name', 'ahmed'), ('age', 30), ('address', 345), ('grade', 90), ('gender', 'male')])

In [105]:
print("name >> ahmed")
print("age  >> 30")

name >> ahmed
age  >> 30

In [120]:
for i in d.keys(): 
    print(f"{i} >> {d[i]}")

name >> ahmed
age >> 30
address >> 345
grade >> 90
gender >> male

In [117]:
d[i]

'ahmed'

In [110]:
d.items()

dict_items([('name', 'ahmed'), ('age', 30), ('address', 345), ('grade', 90), ('gender', 'male')])

In [121]:
for i in d.items() : 
    print(f"{i[0]} >> {i[1]}")

name >> ahmed
age >> 30
address >> 345
grade >> 90
gender >> male

In [124]:
lst = [1,2,3]
sum(lst)

6

In [132]:
s = 0
for i in lst : 
    print(f"s = {s} , i = {i}")
    print(f"s = {s} + {i} = {s + i} ")
    s = s + i

s = 0 , i = 1
s = 0 + 1 = 1
s = 1 , i = 2
s = 1 + 2 = 3
s = 3 , i = 3
s = 3 + 3 = 6

In [134]:
lst2 = []
for i in lst :  # i = 10 print(i) , i = 15 print(i) , ..... i = 30 print(i)
#     print(i * 2 )
    lst2.append( i * 2 )
print(lst2)

[2, 4, 6]

In [135]:
[ i * 2  for i in lst]

[2, 4, 6]

In [136]:
if 4 % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [137]:
print("Even") if 4 % 2 == 0  else print("Odd")

Even

In [142]:
lst = [1,2,3,4,2]

In [143]:
[ "Even" if i % 2 == 0  else "Odd" for i in lst ]

['Odd', 'Even', 'Odd', 'Even', 'Even']

In [145]:
# 3 % 2

In [147]:
lst = [(1,2,3), (2,3,4) , (3,4,5)]   # 100    (1,2) + (100,)

In [156]:
[ i[0:2] + (100,) for i in lst]

[(1, 2, 100), (2, 3, 100), (3, 4, 100)]

In [163]:
lst = [(1,2,3,10), (2,3) , (3,4,5,3,4)]

In [158]:
# t = (1,2,3)
# t[2] = 100

In [165]:
[ i[0:-1] + (100,) for i in lst]

[(1, 2, 3, 100), (2, 100), (3, 4, 5, 3, 100)]

In [166]:
# x = 0 
# while condition :
#     statements
#     .............
#     ..........
#     counter+1

In [167]:
x = 0 
while x <= 10:  #  x = 0  , x = 1 ...... x = 11(condition => False)  
    print( x , "Amit")
    x += 1  # x = x + 1

0 Amit
1 Amit
2 Amit
3 Amit
4 Amit
5 Amit
6 Amit
7 Amit
8 Amit
9 Amit
10 Amit

In [172]:
lst = [1,2,3,4,5]
for i in lst:
    if i == 3 :  #i == 3 >> True 
        break
        print(i)
    else:
        print(i)

1
2

In [176]:
lst = [1,2,3,4,5]
for i in lst:
    if i == 3 :  #i == 3 >> True 
        continue
        print(i)
    else:
        print(i)

1
2
4
5

In [180]:
lst = [1,2,3,4,5]
for i in lst:
    if i == 3 : 
        pass
        print(i)
    else:
        print(i)

1
2
3
4
5

In [181]:
# functions
# scope
# Error handling

In [182]:
# def fun_name():
#     statements
#     .......
#     ......
#     .....
#     ......
#     ........
#     return var
# fun_name()  calling

In [185]:
def say_hello():
    print("Hello")

In [186]:
x = say_hello()

Hello

In [187]:
x

In [188]:
def say_hello():
    return "Hello"

In [190]:
y = say_hello()

In [191]:
y

'Hello'

In [206]:
def say_hello(name = "Amit"):
    print("Hello" , name)

In [207]:
say_hello("Ahmed")

Hello Ahmed

In [208]:
say_hello("Mo")

Hello Mo

In [209]:
say_hello()

Hello Amit

In [216]:
def add(n1 , n2  , n3):
      return n1 + n2 + n3

In [219]:
add(1,2,10)

13

In [223]:
def add(*n):
    s = 0 
    for i in n :
        s = s + i 
    return s

In [224]:
add(1,2)

3

In [225]:
add(1,2,3,4,5,6,7,8,9)

45

In [226]:
add(1,2,3)

6

In [227]:
def add(l):
    s = 0 
    for i in l :
        s = s + i 
    return s

In [229]:
add([1,2,3,4])

10

In [230]:
# check(10) >> Even
# check(11) >> Odd

In [231]:
def check(num):
    if num % 2 == 0 :
        return "Even"
    else:
        return "Odd"

In [232]:
check(19)

'Odd'

In [233]:
check(20)

'Even'

In [236]:
lst = [1,2,3,4,5,6,7,8,9,10]
# list(map(fun , seq))
list(map(check , lst))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [237]:
def even(num):
    if num % 2 == 0 :
        return True
    else:
        return False

In [238]:
lst = [1,2,3,4,5,6,7,8,9,10]

list(map(even , lst))

[False, True, False, True, False, True, False, True, False, True]

In [239]:
list(filter(even , lst))

[2, 4, 6, 8, 10]

In [240]:
def odd(num):
    if num % 2 != 0 :
        return True 
    else:
        return False

In [241]:
lst = [1,2,3,4,5,6,7,8,9,10]

list(map(odd , lst))

[True, False, True, False, True, False, True, False, True, False]

In [242]:
list(filter(odd , lst))

[1, 3, 5, 7, 9]

In [245]:
lst = [1,2,3,4]
try:
    lst.remove(10)
except:
    print("x not in list")
    
print("amit")

x not in list
amit

In [250]:
lst = [1,2,3,4]
try:
    lst.remove(10)
except Exception as e:
    print("Error:" , e )

Error: list.remove(x): x not in list

In [256]:
try:
    lst.remove(1)
    print(lst)
except:
    print("Error")
    print(lst)

Error
[2, 3, 4]

In [258]:
x = "Global"
def outer():
    x = "Local"
    print(x)
outer()
print(x)

Local
Global

In [261]:
x = "Global"
print(x)
def outer():
    global x 
    x = "Local"
    print(x)
outer()
print(x)

Global
Local
Local

In [260]:
x = "global"
x = "Local"
print(x)

Local

In [270]:
# def outer():
#     global y 
#     y = "local"
#     print(y)
# outer()

In [271]:
# y

In [272]:
x = "Global"
print(x) #Global
def outer():
    x = "Local"
    def inner():
        x = "inner"
        print(x) # inner
    inner()
    print(x) # Local
outer()
print(x) # Global

Global
inner
Local
Global

In [273]:
x = "Global"
print(x) #Global
def outer():
    x = "Local"
    def inner():
        nonlocal x 
        x = "inner"
        print(x) # inner
    inner()
    print(x) # inner
outer()
print(x) # Global

Global
inner
inner
Global

In [279]:
x = "Global"
print(x) #Global
def outer():
    global x 
    x = "Local"
    def inner():
        x = "inner"
        print(x) # inner
    inner()
    print(x) # local
outer()
print(x) # local

Global
inner
Local
Local